.event-slide{
    display: flex;
    align-items: center;
    text-decoration: none;

    .event-image {
        width: 70%;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08);

    }

    .content{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 35px;
        text-align: center;
    }
    
    .content h1 {
        margin: 0;
        line-height: 1.1;
        font-weight: bold;
    }
    
    .content h3 {
        margin: 0;
    }

    .content p {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
    .logo{
        width: auto;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .logo img{
        height: 100%;
    }
    
}


  