.event-post {
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    text-decoration: none;

    .featured {
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08);
      padding: 0.8rem;
    }

    img {
      border-radius: 5px;
    }
    h2 {
      margin-top: 0.5rem;
    }
    p{
      margin-bottom: 0;
    }
}


