.event-post {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;

    img {
      border-radius: 10px;
    }

    h2 {
      margin-bottom: 0.3rem;
      line-height: 1.1;
      color: $black;
    }
    p{
      margin-bottom: 0;
    }
}

.event-post:hover {
  text-decoration: none;
  animation: 0.5s scaleUp ease;
  opacity: 0.5;
}

@keyframes scaleUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}


