.featured-events{

    .featured-events-slider{
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
      .carousel-control-prev, .carousel-control-next{
        display: none
      }
    }

    .featured-events-mobile {
      display: block;
      @include media-breakpoint-up(lg) {
        display: none; 
      }
    }
}