.featured-event{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .box{
        height: 400px;
        display: flex;
        align-items: center;
        filter: none;
    }
    
    .box:hover{
        text-decoration: none;
        background: rgba(0,0,0, 0.5);
    }
    
    .content{
        background: rgba(0,0,0, 0.5);
        display: flex;
        align-items: center;
        width: 100%;
        height: 35%;
        padding: 1rem;
        justify-content: center;
    }
    
    .title {
        text-align: left;
        margin-left: 1rem;
        text-shadow: 1px 1px rgba(0,0,0);
    }
    
    .title h1 {
        color: #ffd343;
        font-size: 50px;
        margin-bottom: 0.5rem;    
    }
    
    .title h3 {
        color: #ffffff;
    }
    
    .logo{
        width: 7rem;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo img{
        height: 100%;
    }
}


  