.featured-events{

    .featured-events-slider{

      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
      .carousel-control-prev, .carousel-control-next{
        display: none
      }
      .carousel-control-prev-icon, .carousel-control-next-icon{
        
      }

      .carousel-indicators{
        
      }

    }

    .featured-events-mobile {
      display: block;
      background-color: #e0e0e0;
      @include media-breakpoint-up(lg) {
        display: none; 
      }
    }
}