.featured-event{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .box{
        height: 600px;
        display: flex;
        align-items: center;
        filter: none;
    }
    
    .box:hover{
        text-decoration: none;
        background: rgba(0,0,0, 0.5);
    }
    
    .content{
        background: rgba(0,0,0, 0.5);
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 1.5rem;
    }
    
    .title {
        text-align: left;
        text-shadow: 1px 1px rgba(0,0,0);
        margin-left: 1rem;
    }
    
    .title h1 {
        color: #ffd343;
        font-size: 50px; 
        margin: inherit;
    }

    .title h2 {
        color: #ffffff;
        font-size: xx-large; 
        margin: inherit;
        
    }
    
    .title h3 {
        color: #ffffff;
        margin: inherit;
    }
    
    .logo{
        width: auto;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo img{
        height: 100%;
    }

    @media (max-width: 360px) {

        .box:hover{
            text-decoration: none;
            background: none;
        }
        
        .content{
            flex-direction: column;
            align-items: flex-start
        }
        .title {
            text-align: left;
            margin-left: inherit;
        }

        .title h1 {
            font-size: xx-large;
        }

        .title h3 {
            font-size: large;
        
        }

        .logo{
            height: 7rem;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    
    }
}


  