.header {
  color: $white-offset;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
