.image-home {

    background: linear-gradient($primary 50%, $white 50%);

    .content{
        text-align: center;
    }  

    .content img{
        width: 100%;
        border-radius: 10px;
    }  

    .button{        
    }
    .button:hover {
        text-decoration: none;
    }
}