.image-home {

    .image-top {
        background: linear-gradient($primary 60%, $white 40%);
    }

    .content{
        text-align: center;
    }  

    .content img{
        width: 100%;
        border-radius: 10px;
        margin: 0;
    }  

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .text h1, .text h3 {
        margin: 0.5rem;
    }

    .button:hover {
        text-decoration: none;
    }

    .img-border {
        border: 3px solid $primary;
    }
}