  .list-post {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: $white-offset;
    border-radius: 10px;

    .post-content {
      margin-bottom: 0;
    }
    .cover-img {
        border-radius: 10px;
    }
  }