.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
    height: 4.5rem;
    padding: 0.8rem 0.8rem 0 0;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    max-width: unset;
    height: 3.5rem;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
