.main-menu {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 0.9rem;
      > a {
        padding: 0.6rem;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $white;
        &:hover {
          background-color: $secondary;
          color: $primary;
          border-radius: 25px;

        }
        &.active {
          color: $secondary;
          text-decoration: none;
          border-radius: 25px;
          &:hover {
            color: $primary;
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}
