.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        border-left: 1px solid $white;
        padding: 5px 20px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: $white;
        &:hover {
          background-color: $white-offset;
          color: $black;
        }
        &.active {
          font-weight: bold;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}
