.past-event {
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.08);

    .event-content {
      text-align: left;
      margin-bottom: 0;
    }
    .cover-img {
        border-radius: 3px;
    }
    
  }