.page-eventos-single {

  .image-container {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .logo-container{
    width: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .logo-container img{
    height: 100%;
  }

  .content {
    > p {
     
    }
  }
}

