.page-eventos-single {

  .image-container img{
    width: 100%;
    height: auto;
  }

  .logo-container{
    width: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .logo-container img{
    height: 100%;
  }

  .content {
    > p {
     
    }
  }
}

