.page-eventos-single {

  .image-container img{
    width: 100%;
    height: auto;
  }

  .logo-container{
    width: auto;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .logo-container img{
    height: 100%;
    padding: 1rem;
  }

  .button{
/*     text-decoration: none;
    border: 1px solid #3776ab;
    color: #3776ab; */
  }

  .content {
    > p {
     
    }
  }
}

